/*Universal Selector */
* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }


    
/* Header Elements */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: #13293d;
    color: #b9c6ae
}

h1 {
    font-size: 50px;
    font-style: italic;
    
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-style: bold;
}

p {
    flex: 1 0 0;
    padding: 10px;
    padding-right: 200px;
    text-align: justify
}

/* Navigation Elements */
nav {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 300px; 
}

nav ul li a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;   
}

nav ul li a:hover {
    color: whitesmoke
}

/* main body section */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 2%;
}



.float-left {
    float: left;
    margin-right: 25px;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center 
    border-width: 1px;
}

.card h3 {
    padding: 20px;
    background:  #13293d;
    color: #b9c6ae;
}

.card img {
    width: 100%;
    min-width: 400px;
    max-height: 300px;
}

#work {
    width: 100%;
}

.workflex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.card:hover {
    transform: scale(1.02);
}

#resume1:hover {
    transform: scale(1.02)
}
/* testing code for image embedded in css
#project1 {
    display: flex;
    flex-direction: row;
    background-image: url("../images/background.jpg");
    object-fit: scale-down;
    border-style: solid;
    border-width: thick;
    background-size: cover;
    margin: 10px;
  }

#project2 {
    display: flex;
    flex-direction: row;
    background-image: url("../images/keyboard.jpg");
    object-fit: scale-down;
    border-style: solid;
    border-width: thick;
    background-size: cover;
    margin: 10px;
    
}
*/

/* footer elements */

footer {
  padding: 10px 400px 20px;
  text-align: center;
  justify-content: space-between;
  background: #13293d;
  color: #fff;
}

h4 {
    font-size: 20px;
    }

footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  min-width: 200px;
}

footer ul li {
    text-decoration: none;
}

footer a {
    color: #fff;
}
