/*Universal Selector */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

    
/* Header Elements */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background: #13293d;
    color: #b9c6ae
}

h1 {
    font-size: 50px;
    font-style: italic;
}

/* Navigation Elements */

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 360px;
}

nav ul li a {
    font-size: 25px;
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    color: whitesmoke
}

/* main body elements */

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 2%;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-style: bold;
}

p {
    flex: 1 0 0;
    padding: 10px;
    padding-right: 200px;
    text-align: justify
}

/* class selectors main body */

.float-left {
    float: left;
    margin-right: 25px;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center 
    border-width: 1px;
}

.card h3 {
    padding: 20px;
    background:  #13293d;
    color: #b9c6ae;
}

.card img {
    width: 100%;
    min-width: 400px;
    max-height: 300px;
}

.workflex {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.card:hover {
    transform: scale(1.02);
}

/* id selectors main body */

#work {
    width: 100%;
}

#resume1:hover {
    transform: scale(1.02)
}

/* footer elements */

footer {
  position: bottom;
  bottom: 0;
  left: 0;
  background: #13293d;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #fff;
}

footer ul li {
    text-decoration: none;
    list-style-type: none;
}

footer a {
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

 .footer-content h4 {
    font-size: 40px;
    font-weight: bold;
 }

/* cards are stacked on top of each other at 768px or smaller */

@media screen and (max-width: 768px {
    .card  {
        width: 100%;
    }
    
}